@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');


body {
  background: #222222;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /*background: rgba(68, 68, 68, 0.9);*/
  background: #222222;
}

h1 {
  margin: 0;
  font-weight: 1400;
}

.contact {
  flex-basis: 100%;
  max-width: 100%;
  text-align: center;
  padding: 60px 0 50px;
}

.contact h1.lg-heading {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.contact h2.sm-heading {
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 350;
  opacity: 0.8;
  margin: 0;
  display: inline-block;
  position: relative;
  margin-bottom: 7rem;
  padding: 0.0rem 1rem;

}

.contact h2.sm-heading::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 10px;
  width: 20px;
  background-color: #dda51e;
  height: 1px;
}

.contact h2.sm-heading::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 10px;
  width: 20px;
  background-color: #dda51e;
  height: 1px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #eece1a;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}

.projects img {
  width: 100%;
  border: 3px #fff solid;
}

.projects img:hover {
  opacity: 0.5;
  border-color: #eece1a;
  transition: all 0.5s ease-out;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  width: 75%;
  margin: auto;
}

.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}

.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #eece1a;
  color: #000;
}

.boxes div:hover span {
  color: #000;
}